<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>

    <h2>About us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, culpa? Sit delectus voluptate accusantium! Eligendi, cumque excepturi praesentium sapiente, dignissimos dolore autem deleniti distinctio at asperiores libero similique? Asperiores tenetur ab nostrum voluptatem atque blanditiis vero, debitis ipsum, quam ipsa corporis optio voluptatibus assumenda nesciunt saepe ipsam ad nisi aspernatur.</p>
</body>
</html>